body{
  font-family: 'inter', sans-serif;
  background-color: #edf09e;
  color: #222222;
  margin:0;
  padding:0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
}

.nav-links li a{
  position: relative;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s ease, font-weight 0.3s ease;
  text-decoration: none;
}

.nav-links li a::before{
  content: "";
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3 ease
}

.nav-links li a.active{
  font-weight: 700;
}

.nav-links li a.active::before{
  background-color: #f55505;
}

.nav-links li a:hover{
  font-weight: 700;
}

.nav-links li a:hover::before{
  background-color: #f55505;
}

.social-icons img{
  width: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.hero{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 200px;
 padding: 60px 40px;
}

.avatar-wrap{
  position: relative;
  width: 180px;
  height: 180px;
  display: inline-block;
  transform-origin: center;
}

.avatar-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.intro h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.intro h1{
  font-size: 40px;
  margin: 5px 0;
}

.intro p{
  font-size: 18px;
}

.intro button{
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #5adb83;
  color: #000000;
  border-color: #000000;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 700px;
  cursor: pointer;
}


.intro button:hover{
box-shadow:  0 2px 6px rgba(0, 0, 0, 0.5);
}

.content{
background-color: #f5d2c9;
padding: 50px 80px;
border-radius: 43px;
margin: 40px auto;
width: 80%;
display: flex;
gap: 20px;
}

.motto p{
  font-family: 'inter', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5;
  color: #00000;
  width: 400px
}

.tag{
  background-color: #eba134;
  color: #000000;
  padding: 4px 8px;
  border-radius: 9px;
  font-size: 16px;
  font-weight: 550;

}

.cards{
  display: flex;
  gap: 45px;
}

.card{
  background-color: #ffffff;
  border-radius: 40px;
  padding: 16px;
  width: 240px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.card img{
  width: 100%;
  border-radius: 12px;
  margin-top: 10px;
}

.about{
  display: grid;
  grid-template-columns: 1fr 540px;
  gap: 55px;
  margin: 40px 60px;
}

.card-about{
  background-color: #ffffff;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
}

.edu-table{
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.edu-table thead th{
  padding-left: 10px 8px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.edu-table thead th{
  padding-left: 10px 8px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

footer{
  text-align: center;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
}
